<!DOCTYPE html>
<html>
  <head>
    <title>shift</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST">
Employee id:<br>
<input type="text" name="eid" ><br><br>
From:<br>
<input type="date" name="from" ><br><br>
To:<br>
<input type="date" name="to" ><br><br>
<input type="submit"> 
</form>
  </body>
</html>




